<aside class="archive-aside">
    <h3>Archive</h3>
    <ul class="archive-list">
        <li class="archive-list-item">
            <a href="#">This blog post</a>
        </li>
        <li class="archive-list-item">
            <a href="#">This blog post</a>
        </li>
        <li class="archive-list-item">
            <a href="#">This blog post</a>
        </li>
        <li class="archive-list-item">
            <a href="#">This blog post</a>
        </li>
        <li class="archive-list-item">
            <a href="#">This blog post</a>
        </li>
        <li class="archive-list-item">
            <a href="#">This blog post</a>
        </li>
        <li class="archive-list-item">
            <a href="#">This blog post</a>
        </li>

    </ul>
</aside>