{# will contain a list of blogs - without most recent one #}

<section class="blog-list">
    <h3>All Posts</h3>
    {# use for loop to map all blogs here #}
    {%include "blog-card.njk"%}
    {%include "blog-card.njk"%}
    {%include "blog-card.njk"%}
    {%include "blog-card.njk"%}
    {%include "blog-card.njk"%}
    {%include "blog-card.njk"%}
</section>