---
layout: "base.njk"
---

<section class="blog-section">
  {%include "recent-post.njk"%}
  <section class="blog-section_main-feed">
    {%include "blog-feed.njk"%}
    {%include "archive-aside.njk" %}
  </section>
</section>